body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 120px;
  height: 40px;
  font-weight: bold;
}
.button_1 a{
  text-decoration: none;
  color: white;
}
/*Header*/
header{
  background-color: #fff;
  padding-top: 10px;
  min-height: 40px;
  border-bottom: 1px solid black;
}

header .branding{
  float: left;
}
header .branding h1{
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-family: sans-serif;
}
header a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header a:hover{
  font-family: sans-serif;
  font-weight: bold;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  margin-top: 15px;
  font-weight: 500;
}
header nav{
  float: right;
}
/*showcase*/
 .showcase{
  height: 700px;
  background-image: url("../images/8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
 .showcase h3{
  margin-top: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: silver;
 }
 .showcase h1{
  margin-top: 0px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: silver;
 }
 .showcase hr{
  background-color: #ff4d4d;
  border: 1px solid #ff4d4d;
  height: 2px;
  margin-right: 100%;
  width: 500px;
}
.showcase p{
  width: 500px;
  color: white;
  text-align: justify;
}
.showcase button{
  border: 2px solid #ff4d4d;
  color: #ff4d4ds;
  background-color: transparent;
  width: 120px;
  height: 40px;
  font-weight: bold;
}
.showcase button a{
  text-decoration: none;
  color: #ff4d4d;
}
/*main*/
.main{
  display: flex;
  height: 330px;
}
.main .l1{
  background-color: #ff4d4d;
  height: 100%;
  width: 50%;
}
.l1 h1{
  color: #fff;
  text-transform:uppercase;
  padding-top: 30px;
}
.l1 p{
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}
.r1{
  position: relative;
}
.r1 img{
  filter: brightness(50%);
}
.r1 .text_p{
 position: absolute;
 bottom: 60px;
 right: 60px;
}
.r1 h1{
  color: white;
  text-transform: uppercase;
  padding-top: 30px;
}
.r1 p{
  color: #fff;
  padding-top: 18px;
  padding-bottom: 28px;
}
/*Services*/
.service{
  background-color: #000d1a;
}
.service h1{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 50px;
  display: inline-block;
}
.service button{
  width: 200px;
  height: 50px;
  border: 1px solid #ff4d4d;
  background-color: #ff4d4d;
  color: white;
  float: right;
  margin-top: 70px;
}
.boxes .box{
  float: left;
  text-align: center;
  font-size: 20px;
  padding: 80px 20px 0 20px;
}
.box{
  height: 350px;
  width: 300px;
  background-color: white;
  margin-right: 65px;
  margin-bottom: 30px;
}
/*About*/
.about .text{
  float: left;
}
.about img{
  float: right;
  margin: 50px 30px 50px 30px;
}
.text h1{
  font-family: sans-serif;
  font-style: italic;
  font-size: 60px;
  margin-bottom: 5px;
}
.text span{
  color: #ff4d4d;
  font-size: 50px;
  font-style: italic;
  font-family: Roboto;
  margin: 0;
}
.text li{
  font-weight: bold;
}
.schedule{
  width: 100%;
  height: 80px;
  background-color: #b3e6ff;
  margin-bottom: 20px;
}
.schedule li{
  float: left;
  display: inline;
  padding: 30px 45px 20px 40px;
  font-size: 20px;
  font-weight: bold;
}
.boxes2 .box2{
  height: 180px;
  width: 150px;
  text-align: center;
  background-color: #b3e6ff;
  float: left;
  margin-right: 27px;
  margin-bottom: 20px;
}
.box2 p{
  margin-top: 50px;
  font-weight: bold;
}
.box2 h3{
  font-weight: bold;
}
 .box3{
  height: 180px;
  width: 150px;
  text-align: center;
  background-color: #b3e6ff;
  float: left;
  margin-right: 0;
  margin-bottom: 20px;
}
.box3 p{
  margin-top: 50px;
  font-weight: bold;
}
.box3 h3{
  font-weight: bold;
}
.newsletter{
  background-color: #001a33;
  height: 80px;
  padding-top: 35px;
}
.newsletter h1{
  float: left;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}
.newsletter form{
  float: right;
  margin-top: 10px;
}
.newsletter input{
  height: 27px;
  width: 250px;
  padding-left: 5px;
}
.newsletter button{
  height: 32px;
  width: 100px;
  border: 1px solid #ff4d4d;
  background-color: #ff4d4d;
  color: #fff;
}
/*Pricing*/
.back{
  background-color: #000d1a;
}
.back h1{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.back p{
  text-align: center;
  color: #0039e6;
  margin-bottom: 50px;
}
.boxes3 .box4{
  height: 550px;
  width: 350px;
  background-color: #050a14;
  float: left;
  margin-right:55px;
  margin-bottom: 50px;
  text-align: center;
}
.box4 h1{
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}
.box4 h2{
  color: #ff4d4d;
  margin-bottom: 70px;
}
.box4 p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}
.box4 button{
  border: 1px solid #ff4d4d;
  background-color: #ff4d4d;
  color: #fff;
  height: 50px;
  width: 200px;
  margin-top: 30px;
}
.courses{
height: auto;
}
.courses img{
  width: 506px;
  height: 290px;
  filter: brightness(50%);
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.pic1{
  float: left;
  position: relative;
}
.pic1 h1{
  position: absolute;
  top: 50px;
  left:150px;
  color: white;
  text-transform: uppercase;
}
.pic1 p{
  position: absolute;
  top: 100px;
  left: 80px;
  color: white;
  text-align: center;
}
.pic1 button{
  position: absolute;
  top: 180px;
  left: 180px;
  background-color: transparent;
  border-radius: 2px;
  border: 3px solid #cc2900;
  color: white;
  width: 150px;
  height: 40px;
}
/*Contact*/
.message{
  float: left;
}
.message textarea{
border: 1px solid gray;
width: 750px;
height: 200px;
display: block;
margin-bottom: 20px;
padding-top: 10px;
padding-left: 10px;
}
.message .c1{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 0px;
  width: 360px;
  height: 40px;
  padding-left: 10px;
}
.message .c2{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 0px;
  width: 360px;
  height: 40px;
  margin-left: 20px;
  margin-bottom:10px;
  padding-left: 10px;
}
.message .c3{
  display: block;
  border: 1px solid grey;
  border-radius: 0px;
  width: 750px;
  height: 40px;
  margin: 10px 0 20px 0;
  padding-left: 10px;
}
.message button{
  background-color: transparent;
  color: red;
  border: 2px solid red;
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
}

.address{
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}
/*Footer*/
footer{
  background-color: #fff;
  color: black;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
}
